[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "hkdatasets"]
	path = hkdatasets
	url = https://github.com/hong-kong-districts-info/hkdatasets
